
@{
    ViewBag.Title = "Iletisim";
}

<h2>İletişim</h2>
<hr />
<h2><b>Ali Yasin DOĞAN</b></h2>
<h3><a href="http://www.aliyasindogan.com" target="_blank">WEB SİTESİ<small class="text-secondary"> (aliyasindogan.com)</small></a></h3>
<h3><a href="https://github.com/aliyasindogan/miniecommerce" target="_blank">GITHUB HESABI<small class="text-secondary"> (github.com/aliyasindogan)</small></a></h3>
