
@{
    ViewBag.Title = "Proje";
}

<h5>Proje Hakkında</h5>
<hr />
<h1><b><i class="fa fa-globe"></i>&nbsp;Mini E-Ticaret <small>(mini ecommerce)</small></b></h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4><b>Proje Hakkında</b></h4>
            <p>
                <ul>
                    <li>Veri tabanı olarak MSSQL  kullanıldı.</li>
                    <li>    İlişkisel veri tabanı diyagramı oluşturuldu.</li>
                    <li>   SQL işlemlerinde Entity Framework ORM aracı kullanıldı.</li>
                    <li>   Bootstrap responsive bir tasarım ile Giriş, Ürün Liste, Ürün Detay,Sepet ve Satış Raporu (Hesabım) sayfaları oluşturuldu.</li>
                    <li> ASP.NET MVC CodeFirst kullanarak geliştirme yapıldı. </li>
                    <li>    Projeyi geliştirmeye başlamadan önce, oluşturulacak sitenin gelecekte mobil uygulamasının da geliştirileceğini dikkate alınarak Kurumsal Katmanlı Mimari ile Generic Repository Kullanıldı.</li>
                </ul>
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4><b>Kullanılan Teknoloji &amp; Mimari</b></h4>
            <ul>
                <li>Kurumsal Katmanlı Mimari</li>
                <li>Generic Respository</li>
                <li>Dependency Injection</li>
                <li>Asp.Net MVC CodeFirst</li>
                <li>Entity Framwork 6.2.0</li>
                <li>.Net Framework 4.7.2</li>
                <li>MS SQL</li>
                <li>Bootstrap Css Framework 4.3.1</li>
                <li>FontAwesome Icon Framework 4.7.0</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h4><b>Proje Katmaları</b></h4>
            <ul>
                <li>
                    miniecommerce   <small>(Solution)</small>
                    <ul>
                        <li>miniecommerce.BLL <small>(İş Mantığı Katmanı)</small></li>
                        <li>miniecommerce.DAL <small>(Veri Erişim Katmanı)</small></li>
                        <li>miniecommerce.ENTITIES <small>(Databasedeki Tablolar (Varlıklar))</small></li>
                        <li>miniecommerce.MVC <small>(Web Sitesi)</small></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
